<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuyang.mapper.TagMapper">
    <!--    Tag findByName(@Param("name") String name);-->
    <select id="findByName" resultType="com.liuyang.bean.Tag">
        select * from t_tag where name = #{name}
    </select>

<!--    boolean save(Tag tag);-->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into t_tag values(null,#{name})
    </insert>

    <!--List<Tag> listTag(@Param("ids") List<Long> ids)-->
    <select id="listTag" resultType="com.liuyang.bean.Tag" parameterType="java.util.List">
        select * from t_tag
    <where>
        <if test="ids != null and ids.size() > 0">
            id in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </where>
    </select>

    <!--List<Tag> listTagTop(Page page)-->
    <select id="listTagTop" resultMap="TagAndBlogResultMap">
        SELECT * FROM t_tag LEFT JOIN t_blog_tags ON t_tag.id=t_blog_tags.tags_id
    </select>


    <resultMap id="TagAndBlogResultMap" type="com.liuyang.bean.Tag">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <collection property="blogs" ofType="com.liuyang.bean.Blog">
            <id property="id" column="blogs_id"></id>
        </collection>
    </resultMap>
    <!--Tag TagAndBlog(@Param("gid") Integer id);-->
    <select id="TagAndBlog" resultMap="TagAndBlogResultMap">
        SELECT * FROM t_tag LEFT JOIN t_blog_tags ON t_tag.id=t_blog_tags.tags_id where id=#{gid}
    </select>

</mapper>